@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font: 16px ;
}

ul,
ol,
li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

strong {
    display: block;
}

img,
input,
textarea,
select {
    vertical-align: middle;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

h4 {
    font-size: 16px;
}

p {
    line-height: 1.4;
}

address {
    font-style: normal;
}

header,
nav,
main,
article,
section,
aside,
footer {
    display: block;
}